<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ - Объявления</title>
    <link href="./web/css/bootstrap.min.css" rel="stylesheet">
    <script src="./web/js/bootstrap.bundle.min.js" defer></script>
    <script src="./web/js/vue.global.js"></script>
    <script src="./web/js/footer_header.js"></script>
    <script src="./web/js/usersList.js"></script>
    <script src="./web/js/carList.js"></script>
    <script src="./web/js/cars.js" defer></script>

    <link rel="stylesheet" href="./web/css/font.css">

</head>

<body class="container">
    <div id="app">
        <main>
            <div role="button"
                class="custom-toast btn-dark rounded-2 shadow-sm p-3 position-fixed bottom-0 end-0 me-2 mb-2"
                v-if="isToast" @click="isToast=false">{{ toastText }}</div>
            <!-- Поиск -->
            <div class="mt-2 row row-cols-1 row-cols-md-2 g-3">
                <div class="col">
                    <form role="search">
                        <div class="input-group">
                            <input type="search" class="form-control rounded-2 p-3" name="search" placeholder="Поиск..."
                                aria-label="Search" v-model="searchText" @input="search()">
                        </div>
                    </form>
                </div>
                <div class="col">
                    <button type="button" class="btn h-100 btn-dark rounded-2 w-100">Найдено {{ cars.length }}
                        объявлений</button>
                </div>
            </div>

            <!-- Объявления -->
            <div v-if="cars.length === 0" class="col-12 mt-3">
                <h2 class="fs-4 fw-normal text-center">По результатам поиска ничего не найдено</h2>
            </div>

            <div class="row g-2 row-cols-1 row-cols-md-2 row-cols-xl-3 mt-3">
                <div class="col" v-for="(car, index) in cars" :key="car.id">
                    <div class="card rounded-2 shadow h-100">
                        <div role="button"
                            class="btn-dark rounded-2 shadow-sm p-2 position-absolute top-0 end-0 me-2 mt-2 is-blocked"
                            v-if="car.status === 'blocked'">Заблокирован</div>
                        <div class="card-img-wrapper position-relative ratio ratio-16x9">

                            <div :id="'carousel-' + car.id" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div v-for="(img, imgIndex) in car.images"
                                        :class="['carousel-item', { 'active': imgIndex === 0 }]">
                                        <img :src="img ? '/web/carPhoto/' + img : '/web/userPhoto/base.svg'"
                                            class="card-img-top-custom object-fit-cover w-100"
                                            :class="{ 'base-img': !img }" :alt="'Фото машины: ' + car.title">
                                    </div>
                                </div>

                                <div v-if="car.images && car.images.length > 1">
                                    <button class="carousel-control-prev" type="button"
                                        :data-bs-target="'#carousel-' + car.id" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Предыдущий</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        :data-bs-target="'#carousel-' + car.id" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Следующий</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-bold text-center">{{ car.title }}</h5>
                            <p class="card-text fs-6 fw-normal text-center">
                                {{ car.price }} ₽
                            </p>
                            <p class="card-text fs-6 fw-normal text-center">
                                {{ car.mileage }} КМ
                            </p>
                            <a :href="'carDetails.html?id=' + car.id"
                                class="btn btn-dark rounded-2 d-flex justify-content-center">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mt-2 g-2">
                <div class="col"><button class="btn btn-dark p-3 w-100" @click="loadDataFromLocalstorage()">Загрузить
                        данные</button></div>
                <div class="col"><button class="btn btn-dark p-3 w-100" @click="clearData()">Очистить
                        данные</button></div>
            </div>
        </main>
    </div>
    <script src="/web/js/jquery-4.0.0.min.js"></script>
    <script defer src="/web/js/theme.js"></script>
</body>

</html>